*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/images/background\ img.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
    border-radius: 50px 5px 50px 5px;
    border: solid 2px orange;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #e99313;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}
.content{
    width: 100%;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;
    color:#e99313;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content h2{
    color:#ecc8a4 ;
}

.heading-1{
    
    color: #e99313;
    align-items: center;
    justify-content: center;
    display:flex;
}
/*card details*/
.main-container-1{
    display: flex;
    justify-content: space-around;
    

}
.card{
     
    text-align: center;
    width: 250px;
    height: 350px;
    background-color: transparent;
    border-radius: 28px;
    box-shadow: black 0px 0px 5px 5px;
    border: 0.5px solid white;
}
.img{
    width: 190px;
    height: 150px;
    border-radius: 15px;
}
.card-img{
    margin-top: 20px;
    
    
}
.card-text{
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    padding: 12px;
    color: white;
}
.card-btn{
    
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    
    
}
.card-btn button{
    border: 2px solid white;
    border-radius: 2px;
    width: 150px;
    font-size: 20px;
    padding: 10px;
    background-color: transparent;
    box-shadow: #ada194 0px 0px 0px 0px;
    border-radius: 15px;
    color:white ;
}
/*hover effects*/
.card-btn button:hover{
    background-color: #e99313;
    color: black;
}
.card:hover{
    box-shadow:  white 0px 0px 4px 1px;
}






